.containerSearch {
    min-width: 200px;
    position: absolute;
    width : 20%;
    top : 250px;
    left : 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border : solid 1px var(--choco);
    border-radius: 13px 13px 10px 10px;
    font-size: 1.2em;
    z-index: 2;

}
.searchTitle{
    background: #664733;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    margin: 0;padding: 30px;
    font-size: 2em;
    color : var(--yellow);
}
.inputSearch{
    padding: 20px;
    background: rgb(191, 153, 119);
    border-radius: 0px 0px 9px 10px;
    label{
        padding-left: 10px;
    }
}
.containerSearch h3{
    font-size: 1.5em;
    padding: 10px 0px;
}
