h1{
    text-align: center;
    color: #FFD543;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    padding-top: 10px;
}
.text{
    background: white;
}
.card{
    flex : 1 0 20%;
    list-style-type: none;
    width: 300px;
    height: auto;
    text-align: center;
    margin: auto;
    border: none;
    padding: 30px 20px 50px 20px;
    text-decoration: none;
    button{
        margin-top: 15px;
    }
}
.card img{
width: 150px;
height: 100px;

}

.card button{
    width: 150px;
    border-radius: 10px;
    border: solid 1px var(--orange);
    background: var(--lightchoco);
    padding: 5px;
    text-align: center;

}

.containerChocolate{
    min-height: 800px;
    background:rgb(255, 255, 255);
    position: relative;
    margin: 0px 80px;
z-index: 1;
    padding: 0;
    padding-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 10px 6px 12px -2px, rgba(0, 0, 0, 0.3) 10px 3px 7px -3px;

}
.displayProduct{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
#result{
    display: flex;
    padding: 20px;
    flex-direction: row;
justify-content: center;
flex-wrap: wrap;
padding-left : 20%;
}
h2{
    font-size: 1.3em;
}